.contact-us {
  background-color: #f4fbff;
}
.top-right-cu img {
  width: 866px;
  height: 411px;
}
.top-left-cu {
  margin-top: 60px;
  margin-left: 119px;
}
.top-left-cu h2 {
  border-bottom: 5px rgb(255, 255, 255) solid;
  width: 100px;
}

.top-cu {
  height: 411px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #61a5c2;
  color: white;
}

.socmed-cu {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}

.socmed-cu p {
  font-size: 16px;
  margin-top: 10px;
}

.bottom-cu {
  height: 800px;
}

.address-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 30px;
  gap: 42px;
  margin-top: 101px;
}

.address-card {
  position: relative;
  width: 566px;
  height: 175px;
  background-color: white;
  border: 2px grey solid;
  border-radius: 35px;
  margin: 0 auto;
}

.address-card h1 {
  font-size: 20px;
  margin-left: 52px;
  margin-top: 45px;
  margin-bottom: 0;
}

.address-card p {
  color: grey;
  margin: 0px;
  margin-left: 52px;
  font-size: 20px;
}

.address-card button {
  width: 100px;
  margin-left: 321px;
  color: white;
  background-color: #61a5c2;
  width: 192px;
  height: 36px;
  border: none;
  border-radius: 44px;
  font-size: 17px;
}
