.about {
  height: 1276px;
  width: 1440px;
  background-color: #61a5c2;
}

.top-about {
  position: relative;
}

.bg-image {
  opacity: 0.4;
  height: 483px;
  width: 1440px;
  background-size: cover;
}

.bg-img-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 130px;
  margin: 0 450px;
  color: white;
}

.bg-img-title h1 {
  margin: 0px 0px;
}

.bottom-about {
  height: 794px;
}

.vision-wrap {
  display: flex;
  flex-direction: row;
}

.visionTitle {
  position: absolute;
  background-color: white;
  /* padding: 87px; */
  border-radius: 170px 0 0 170px;
  width: 900px;
  height: 286px;
  left: 540px;
  top: 653px;
}

.vision-wrap h1 {
  position: absolute;
  width: 200px;
  height: 38px;
  left: 288px;
  top: 780px;
  color: white;
}

.visionTitle p {
  margin: 113px 188px 110px 173px;
  width: 607px;
  font-size: 16px;
  font-weight: bold;
  color: #61a5c2;
  text-align: center;
}

.mission-wrap {
  display: flex;
  flex-direction: row;
}

.missionTitle {
  position: absolute;
  background-color: white;
  /* padding: 87px; */
  border-radius: 0 170px 170px 0;
  width: 900px;
  height: 286px;
  left: 0px;
  top: 1001px;
}

.mission-wrap h1 {
  position: absolute;
  width: 200px;
  height: 38px;
  left: 928px;
  top: 1125px;
  color: white;
}

.missionTitle p {
  width: 607px;
  margin-left: 0;
  margin: 42px 188px 42px 152px;
  font-size: 16px;
  font-weight: bold;
  color: #61a5c2;
  text-align: center;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .about {
    height: 1090px;
    width: 768px;
    background-color: #61a5c2;
  }

  .bg-image {
    opacity: 0.4;
    height: 350px;
    width: 768px;
    background-size: cover;
  }

  .bg-img-title {
    top: 50px;
    margin: 0 184px;
  }

  .bg-img-title h1 {
    margin: 0px 0px;
    font-size: 30px;
  }

  .vision-wrap {
    width: 768px;
  }

  .vision-wrap h1 {
    position: absolute;
    width: 200px;
    height: 38px;
    left: 288px;
    top: 460px;
    color: white;
    text-align: center;
  }

  .visionTitle {
    border-radius: 170px 170px 170px 170px;
    width: 500px;
    height: 200px;
    left: 0px;
    top: 540px;
    margin: 0px 134px;
  }

  .visionTitle p {
    margin: 57px 50px;
    width: 400px;
    font-size: 16px;
    font-weight: bold;
  }
  .mission-wrap h1 {
    position: absolute;
    width: 200px;
    height: 38px;
    left: 288px;
    top: 750px;
    text-align: center;
  }

  .missionTitle {
    border-radius: 170px 170px 170px 170px;
    width: 700px;
    height: 286px;
    margin: 0px 44px;
    top: 830px;
  }

  .missionTitle p {
    width: 500px;
    margin-left: 0;
    margin: 42px 100px;
  }
}

@media screen and (min-width: 200px) and (max-width: 390px) {
  .about {
    height: 1030px;
    width: 390px;
  }
  .bg-image {
    height: 200px;
    width: 390px;
    object-fit: cover;
  }

  .logo-image {
    width: 200px;
    height: 107px;
  }

  .bg-img-title {
    top: 0px;
    margin: 0 184px;
    justify-content: center;
    margin: 20px 95px;
  }

  .bg-img-title h1 {
    margin: 0px 0px;
    font-size: 20px;
    text-align: center;
  }

  .vision-wrap {
    width: 390px;
  }

  .vision-wrap h1 {
    position: absolute;
    width: 200px;
    height: 38px;
    left: 95px;
    top: 370px;
  }

  .visionTitle {
    border-radius: 170px 170px 170px 170px;
    width: 370px;
    height: 200px;
    left: 0px;
    top: 450px;
    margin: 10px;
  }

  .visionTitle p {
    margin: 45px 35px;
    height: 100px;
    width: 300px;
  }

  .mission-wrap h1 {
    position: absolute;
    width: 200px;
    height: 38px;
    left: 95px;
    top: 670px;
  }

  .missionTitle {
    border-radius: 130px 130px 130px 130px;
    width: 370px;
    height: 400px;
    margin: 0px 10px;
    top: 760px;
  }

  .missionTitle p {
    width: 300px;
    margin-left: 0;
    margin: 50px 35px;
  }
}
