.homepage {
  height: 1588px;
  background-color: #efeeee;
}

.top-homepage {
  height: 769px;
  background-color: #e1eff8;
  display: flex;
  flex-direction: row;
}

.greeting {
  position: absolute;
  width: 438px;
  height: 222px;
  left: 793px;
  top: 293px;
}

.greeting p {
  text-align: justify;
  font-size: 14px;
  margin: 0;
}

.greeting h1,
h2 {
  margin: 0;
  text-align: left;
}

.greeting h1 {
  color: #1680e5;
}

.greeting button {
  margin-left: 330px;
  width: 110px;
  height: 33px;
  border-radius: 30px;
  background-color: #1680e5;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
}

.greeting button:hover {
  background-color: #fff;
  color: #1680e5;
}

.greeting button:active {
  position: relative;
  top: 5px;
}

.review-card {
  width: 543px;
  height: 240px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  text-align: left;
  border: 1px solid #1680e5;
  border-radius: 20px;
  background-color: white;
  align-items: center;
}

.cust-pict img {
  border-radius: 20px;
  margin: 0 0 0 45px;
  border: #1680e5 solid 1px;
}

/* .cust-review {
  margin-right: 45px;
  margin-left: 15px;
} */

.cust-review p,
h4 {
  margin: 0 45px 0 15px;
}
