.homepage {
  height: 769px;
  background-color: #efeeee;
}

.top-homepage {
  height: 769px;
  background-color: #e1eff8;
  display: flex;
  flex-direction: row;
}

.greeting {
  position: absolute;
  width: 400px;
  height: 222px;
  left: 793px;
  top: 350px;
}

.greeting p {
  text-align: justify;
  font-size: 14px;
  margin: 0;
}

.greeting h1,
h2 {
  margin: 0;
  text-align: left;
}

.greeting h1 {
  color: #1680e5;
  height: 40px;
}

.greeting button {
  margin-left: 290px;
  margin-top: 10px;
  width: 110px;
  height: 33px;
  border-radius: 30px;
  background-color: #1680e5;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.greeting button:hover {
  background-color: #fff;
  color: #1680e5;
}

.greeting button:active {
  position: relative;
  top: 5px;
}

.btn-greeting-link {
  color: white;
  text-decoration: none;
}
