.footer {
  background-color: black;
  color: white;
  height: 369px;
  display: flex;
  flex-direction: row;
}

.container {
  width: 1440px;
  margin: 0 80px;
}

.top-wrapper {
  height: 185px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px white solid;
}

.footer ul {
  list-style: none;
  display: flex;
  padding: 0px;
  font-weight: bold;
}

.footer li {
  margin-right: 81px;
}

.footer-right {
  text-align: center;
}
.footer-right p {
  margin: 0;
  font-weight: lighter;
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
}

.bottom-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 34px;
}

.footer-copyright p {
  margin: 5px 0;
  text-align: center;
}

.footer-logo {
  width: 100px;
}
